<!DOCTYPE html>
<html lang="en">
<!-- header linking all css and javascript files and contains the title-->
<head>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="index.css">
    <title>Recognition Technology</title>
</head>

<body>
    <div id="app">
        <div v-if="login">
            <input id="inputEmail" type="text"  placeholder="Enter Your Email"><br>
            <input id="inputPassword" type="text"  placeholder="Enter Your Password"><br>
            <button class="login-btn" v-on:click="logIn">LogIn</button>
        </div> 
        <div  v-else> <!-- check if the User page should display or the basket page should display-->
            <div class="head"> <!--div with search input -->
                <p >
                    <input class="search" type="text"  placeholder="Search Users">
                    <button class="btn-search"  value="Submit" v-on:click="search">Search</button>
                </p>
            </div>
            <div class="user-section">
                <div class="user-list">
                    <div v-for="user in user" class="user"> <!-- div displaying all ten lessons in the loop-->
                        <img v-bind:src="user.Image">   <!--v-bind binds the image-->
                        <h1 v-text="user.name"></h1>
                        <p class="profession">
                            profession: {{user.Profession}}
                        </p>
                        <p class="event">
                            Event: {{user.Event}}                       
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>
